<div class="row">
  <div class="col-12">
    <button type="button" class="btn btn-primary" (click)="openModal(template)">Create template modal</button>

    <ng-template #template>
      <div class="modal-header">
        <h4 class="modal-title pull-left">Modal</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="height: 70vh">
        <ngx-extended-pdf-viewer src="assets/excerpt.pdf" [height]="'100%'" [useBrowserLocale]="true"></ngx-extended-pdf-viewer>
      </div>
    </ng-template>
  </div>
</div>
